<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>title</key>
		<string>Walk 5.000 steps in 1 day</string>
		<key>parameter</key>
		<string>stepCount</string>
		<key>difficulty</key>
		<integer>1</integer>
		<key>rewardAmount</key>
		<integer>1000</integer>
		<key>dailyReset</key>
		<true/>
	</dict>
	<key>1</key>
	<dict>
		<key>title</key>
		<string>Walk 20.000 meters</string>
		<key>parameter</key>
		<string>distanceWalkingRunning</string>
		<key>difficulty</key>
		<integer>1</integer>
		<key>rewardAmount</key>
		<real>1000</real>
		<key>dailyReset</key>
		<false/>
	</dict>
	<key>2</key>
	<dict>
		<key>title</key>
		<string>Walk 11.100 steps in 1 day</string>
		<key>parameter</key>
		<string>stepCount</string>
		<key>difficulty</key>
		<integer>2</integer>
		<key>rewardAmount</key>
		<real>2886</real>
		<key>dailyReset</key>
		<true/>
	</dict>
	<key>3</key>
	<dict>
		<key>title</key>
		<string>Walk 8.000 meters in 1 day</string>
		<key>parameter</key>
		<string>distanceWalkingRunning</string>
		<key>difficulty</key>
		<integer>0</integer>
		<key>rewardAmount</key>
		<integer>2800</integer>
		<key>dailyReset</key>
		<true/>
	</dict>
	<key>4</key>
	<dict>
		<key>title</key>
		<string>Walk 75.000 steps</string>
		<key>parameter</key>
		<string>stepCount</string>
		<key>difficulty</key>
		<integer>2</integer>
		<key>rewardAmount</key>
		<integer>1950</integer>
		<key>dailyReset</key>
		<false/>
	</dict>
</dict>
</plist>
